<style>
     footer {
            position: fixed;
            padding: 10px 10px 0px 10px;
            bottom: 0;
            width: 100%;
            /* Height of the footer*/
            height: 40px;
            background: rgb(233, 229, 229);
        }
        .footer-copyright{
            color: black;
            font-size: medium;
        }
</style>
<!-- Footer -->
<footer class="page-footer font-small blue">

  <!-- Copyright -->
  <div class="footer-copyright text-center">Created By Shahbaz Khan
    {{!-- <a href="/"> MDBootstrap.com</a> --}}
  </div>
  <!-- Copyright -->

</footer>
<!-- Footer -->